* {
	box-sizing: border-box;
}

body {
	display: grid;
	max-width: 1500px;
	grid-template-columns: 1fr 3fr;
	grid-gap: 20px;
	align-items: center;
	margin: 0 auto;
	position:relative;
	padding: 0;
	font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	color: #444;
	height: 100%;
	
}

html {
	margin:0;
}
h1,
h2,
h3 {
	line-height: 1.2
}

@media (prefers-color-scheme: dark) {
	body {
		color: rgb(0, 0, 0);
		background: #ECF0F1;
	}
	a:link {
		color: #5bf
	}
	a:visited {
		color: #ccf
	}
}

video {
	max-width: 100%;
	height: auto;
}



.width-wrap {
	width:100%;
	max-width: 1170px;
	margin: 0 auto;
}
header {
	position:absolute;
	height:40px;
	width:40px;
	top:0;
	right:-50px;
}

header > .width-wrap {
	text-align: right;
	display: flex;
	justify-content: right;
}

#logo {
	display:block;
	height:40px;
	width:40px;
	margin:1rem 0.5rem;
	background-image: url("/img/logo.png");
	background-size: contain;
	filter: grayscale(100%);
	transition: 0.3s;
}

#logo:hover {
	filter: none;
	
}



.center {
	text-align: center;
}

#file-input label {
    display:block;
}



#cont > #hover {
	display:none;
	height:200px;
	width:200px;
	position:absolute;
}

#cont > #hover > canvas {
	height:200px;
	max-width:200px;
	overflow:hidden;
}

#cont:hover > #hover {
	display:block;
}


#file-area {
	user-select: none;
	font-size: 0.8em;
}
.upload-arrow{
	height:110px;
	width:100px;
	margin:0 auto 1rem auto;
	position: relative;
}

.upload-top {
	height:70px;
	width:100px;
	margin:0 auto;
	position:absolute;
	transition:0.2s;
	top:0;
}

.upload-bottom {
	height:35px;
	width:100px;
	position:absolute;
	margin:0 auto;
	bottom:0;
}

#drop-area:hover .upload-top {
	top:10px;
}

.top-10 {
	top:10px;
}

.drop-box {
	position: relative;
	background: #fff;
	margin: 15px auto 0;
	box-shadow: 0 1px 4px rgba(0,0,0,.3);
	
}

.drop-box-padding {
	padding: 2rem;
}
.loaded-files-padding {
	padding: 0;
}

#drop-area {
	text-align: center;
	border: 1px dashed #ccc;
	border-radius: 20px;
	font-family: sans-serif;
	margin: 0 auto;
	padding: 20px;
	cursor: pointer;
  }
  #drop-area.highlight {
	border-color: purple;
  }
  p {
	margin-top: 0;
  }
  .my-form {
	margin-bottom: 10px;
  }
  #gallery {
	margin-top: 10px;
  }
  #gallery img {
	width: 150px;
	margin-bottom: 10px;
	margin-right: 10px;
	vertical-align: middle;
  }
  .button {
	display: inline-block;
	padding: 10px;
	background: #ccc;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #ccc;
  }
  .button:hover {
	background: #ddd;
  }
  #fileElem {
	display: none;
  }

  h3 {
	  font-size: 15px;
	  padding: 1rem 1rem;
	  margin:0;
	  border-bottom:2px solid rgb(201, 201, 201);
  }

  #loaded-list {
	  list-style:none;
	  padding:0;
	  margin:0; 
	  height:500px;
	  overflow-y: auto;
	  overflow-x: hidden;
  }

  #loaded-list > li {
	  border-bottom:1px solid rgb(201, 201, 201);
	  padding: 0.5rem 0.5rem;
	  margin:0;	
  }

#loaded-list > li:hover {
	background:#eee;
	cursor: pointer;
}

#loaded-list > .missing-item:hover {
	background:#f9f9f9;
	cursor: not-allowed;
}


.missing-item {
	color:#ddd;
}

.loaded-sprite {
	height:250px;
	
}


.loaded-sprite > label {
	font-size: 15px;
	padding: 1rem 1rem;
	margin:0;
	border-bottom:2px solid rgb(201, 201, 201);
	width:100%;
	display:inline-block;
	font-weight: bold;
}


#loaded-sprite {
	max-height:200px;
	max-width:200px;
	padding: 0.5em;
	display: inline-block;
	border-radius: 10px;
	border:5px #000 groove  ;
}

#loaded-sprite > canvas {
	max-height:100%;
	max-width:100%;
	overflow:hidden;
	display: block;
	margin: 0 auto;
}
.loaded-sheet {
	height:800px;
	position: relative;
	align-items: center;
}

#loaded-sprite-sheet{
	max-height:700px;
}

.checkerboard {
	background-image: url("img/checkerboard.png");
}

.sheet-box{
	padding: 0.5em;
	display: inline-block;
	border-radius: 10px;
	border:5px #000 groove;
	position: relative;
	max-height: 100%;
	margin:0 auto;
}

img {
	display: block;
	-margin: 0 auto;
	width: 100%;
	height: 100%;
	-height: auto;
	object-fit:contain;
}

.left-top {
	display: flex;
	align-items: center;
	height: 100%;
	width:250px;
	border-right: 1px rgb(168, 168, 168) solid;
}

html {
	height:100%;
}

#unity-logo {
	height:auto;
}


section {
	height:100%;
}