/*START OF base layout
	Shared base for all site elements
*/
* {
	box-sizing: border-box;
}
html {
	height:100%;
	margin: 0;
	padding: 0;
}
body {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:center;
	margin: 0;
	padding: 0;
	font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	color: #444;
	height: 100%;
	background: #ECF0F1;
}


h1,
h2,
h3 {
	line-height: 1.2
}

@media (prefers-color-scheme: dark) {
	body {
		
		color: rgb(0, 0, 0);
		background: #ECF0F1;
	}
	a:link {
		color: #5bf
	}
	a:visited {
		color: #ccf
	}
}


video {
	max-width: 100%;
	height: auto;
}

/*floating-box
	Generic box layout
*/

:root{
	--header-padding:1rem;
	--header-font-size:1rem;
	--header-height:calc(var(--header-padding)*2 + var(--header-font-size));
}
.box {
	position: relative;
	background: #fff;
	margin: 1rem;
	box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.219);
	
}
	.box-header {
		border-bottom:0.1rem solid rgb(201, 201, 201);
		padding: var(--header-padding);
		height: var(--header-height);
	}
	.box-main {
		padding: 2em;
		height: calc(100% - var(--header-height));
	}
	.box-main.no-header {
		height:auto;
	}

	.box-main.no-padding {
		padding:0;
		
	}

	.box-main.no-margin {
		margin: 0;
	}

h2 {
	display: inline;
	font-size: var(--header-font-size);
	margin:0;
}

.last-box-in-flex {
	flex-grow: 1;
}

.checkerboard {
	background-image: url("img/checkerboard.png");
	display: flex;
	align-items: center;
	justify-content:center;
	margin: 0 auto;
	min-height: 200px;
	padding: 0.5em;
	border-radius: 10px;
	border: 3px #BFBFBF solid;
}
/*END OF base layout*/

/*START OF floating promotional icon
	Floating MoatShrimp icon for personal promotion
*/

#promotional {
	position:absolute;
	height:40px;
	width:40px;
	top:0;
	right:-50px;
}

#promotional-logo {
	display:block;
	height:40px;
	width:40px;
	margin:1rem 0.5rem;
	background-image: url("/img/logo.png");
	background-size: contain;
	filter: grayscale(100%);
	transition: 0.3s;
	}

	#logo:hover {
		filter: none;		
}
/*END OF floating header*/

/*START OF file input section
	Split into three parts, short page infromation, file input button and a list of the loaded files
*/
#file-area {
	user-select: none;
	font-size: 0.8em;
	max-width: 400px;
}

/*area inside to give the borders margins*/
#drop-area {	
	border: 1px dashed #ccc;
	border-radius: 1.2rem;
	cursor: pointer;
	margin: 0 auto;
	padding: 1.2rem;	
	text-align: center;
}
	#drop-area h3{
		margin: 0;
		line-height: 1.2em;
		font-size: 1em;
		font-weight: normal;

	}
	/*hilight when hovering files over the form*/
	#drop-area.highlight {
		border-color: purple;
	}

/*upload arrow inside drop-area*/
	.upload-arrow{
		height:7rem;
		margin:0 auto 1rem auto;
		position: relative;
	}

	.upload-arrow-top {
		height:4.5rem;
		position:absolute;
		transition:0.2s;
		top:0;
	}

	.upload-arrow-bottom {
		height:2.5rem;
		position:absolute;
		bottom:0;
	}

		#drop-area:hover .upload-arrow-top, .move-arrow {
			top:1rem;
		} 

  /*hidden file upload*/
	#file-upload {
		display: none;
	}


#file-area > #loaded-files > #loaded-list:empty {

}

/*minimizig of the dorp area on sprit3e shet expansion*/


/*END OF file input section*/

/*START OF loaded items list
*/

	/*ul lift of all the loaded objects*/
	#loaded-list {
		list-style:none;
		overflow-y: auto;
		overflow-x: hidden;
	}  

		#loaded-list > li {
			border-bottom:1px solid rgb(201, 201, 201);
			padding: 0.5rem 0.5rem;
			margin:0;
		}

			#loaded-list > li:hover {
				background:#eee;
				cursor: pointer;
			}

			.missing-item:hover {
				background:#f9f9f9;
				cursor: not-allowed;
			}

			.missing-item {
				color:#ddd;
			}

		#loaded-list > li:before {
			display: inline-block;
			height:1.1em;
			width:1.1em;
			line-height: 1em;
			background-color: rgb(238, 238, 238);
			text-align: center;
			border-radius: 0.2em;
			border:1px solid rgb(158, 158, 158);
			font-weight:900;
			color: rgb(172, 157, 157);
			content: "✕";
			margin-right:0.5rem;
		}
		#loaded-list > li:hover:before {
			color: rgb(129, 41, 41);
		}


/*END OF loaded items list
*/

#image-area {
	transition: 0.5s;
	transition-timing-function: ease-in-out;	
}

#sprite-canvas-wrap {	
}

#sprite-canvas-wrap > canvas {
	max-height:100%;
	max-width:100%;
	margin: 0 auto;
}



.sheet-box{
	padding: 0.5em;
	border-radius: 10px;
	border:5px #000 groove;
	position: relative;
	margin:0 auto;
	height:100%;
	width: 100%;
}

img {
	display: block;
	-margin: 0 auto;
	width: 100%;
	height: 100%;
	-height: auto;
	object-fit:contain;
	
}

.left-top {
	display: flex;
	align-items: center;
	height: 100%;
	width:250px;
	border-right: 1px rgb(168, 168, 168) solid;
}



#unity-logo {
	height:auto;
}

.image-area-unloaded {
	width:0;
	opacity:0;
}
.image-area-loaded {
	width:auto;
	flex-grow: 1;
	opacity:1;
}


.image-area-wrap {
	display:flex;
	flex-flow: column;
	height: 100vh;
}

section {
	display:flex;
	flex-flow: column;
	height: 100vh;
}

.floating-box-inner{
	display: flex;
  	align-items: center;
	height: 100%;
}

.floating-box{
	display:flex;
	flex-flow: column;
}

#promotional{display:none;}

#drag-up-down {
	height:1rem;
	border-top: 4px solid #aaa;
	border-bottom: 4px solid #aaa;
	margin: 0 auto;
	width: 5rem;
	cursor: row-resize;
}


:root{
	--top-height:250px;
	--bottom-height: calc(100% - var(--top-height) - 7rem);
}


.loaded-sheet {
	flex-grow: 1;
	height:10vh;
	-height: var(--bottom-height);
}

.sprite-sheet-wrap {
	height:100%;
	width:100%;
}

#loaded-sprite-sheet {

	height:auto;
	width:auto;
	max-height:100%;
	max-width:100%;
}

#loaded-files {
	min-height: 300px;
}

#sprite-selection {
	max-width: 200px;
}

#sprite-meta {
	position: absolute;
	font-weight: bold;
	bottom: 2rem;
	left: 2rem;
	font-size: 1rem;
	line-height: 1rem;
	-webkit-text-stroke:1px rgb(187, 187, 187);
}

.drop-loaded {
	margin-bottom:0;
	padding-bottom:0;
}
.drop-loaded > #drop-area {
	border-bottom: none;
	padding-bottom: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.files-loaded {
	margin-top: 0;
}